*{
    margin: 0%;
    padding:0%;

}
body{
    background-color: rgb(255,236,236);
}

.container{
width: 80%;
min-height: 100vh;
margin: auto;
background-color: white;

}

input{
    padding: 10px;
    border: 1px solid grey;
    width: 80%;
    box-sizing: border-box;
    outline: none;
    font: 100 1.2rem "Lucida Sans";
}

button{
    font: 100 1.2rem "Lucida Sans";
    padding: 25px;
    width: 19%;
    outline: none;
    background-color: blue;
    border: 1px solid rgb(230,230,230);
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background-color: black;
}
.tags{
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    justify-content: center;
}

.tag{
    padding: 20px;
    box-sizing: border-box;
    background-color: darkred;
    width: 30%;
    color: white;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, 
     Verdana, sans-serif;
     margin: 10px;
}

.tag:hover{
    transform:translateY(-10px) scale(1.05);
}